:root {
  /* Cores principais */
  --color-1: #ABADB4;
  --color-2: #E5E5E5;
  --color-3: #a0a0a0;
  --color-4: #C5C6C6;
  --color-5: #d4d3ce;

  /* Cores de fundo */
  --bg-primary: #ABADB4;
  --bg-secondary: #E5E5E5;
  --bg-light: #a0a0a0;

  /* Cores de texto */
  --text-dark: #C5C6C6;
  --text-medium: #d4d3ce;
  --text-light: #4A4B4E;

  /* Cores de destaque */
  --accent-primary: #24231f;
  --accent-secondary: #333436;
}
